body {
  background-color: #c3b091;
  margin: 0px;
	width: 100%;
	height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-family: 'Courier New', Courier, monospace;
  background: url('https://static.vecteezy.com/system/resources/previews/000/121/106/original/vector-old-paper-texture-background.jpg');
}

h1 {
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size: 50px;
  color: #6e4d2b;
  text-shadow:
        0.01em 0 #412203,
        0 0.01em #412203,
        -0.01em 0 #412203,
        0 -0.01em #412203;
}

h2 {
  font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
  color: #D23;
  border: 0.5rem double #D23;
  transform: rotate(3deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 2rem; 
}

h2.real {
  color: #0A9928;
	border: 0.5rem solid #0A9928;
	-webkit-mask-position: 20rem 50rem;
	transform: rotate(-10deg);
  border-radius: 0;
}
.bgnavbar {
  background-color: #dbc1ac;
  font-size: 20px;
  width: 100%;
  border-bottom: 5px solid #967259;
  position:absolute;
  top:0px;}

.navbar {
  float: right;
  display: inline-block;
  margin: 0px 100px;
}
.nav {
  vertical-align: middle;
  display: inline-block;
  color: white;
}
a.nav:link {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.nav:hover, a.nav:active {
  background-color: #967259;
}
.wrapper{
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  display: block;
  position: relative;
  border: solid 10px #503d1f;
  padding: 40px 60px;
  max-width: 800px;
  width: 70%;
  margin: 100px auto 0;
  font-size: 17px;
  line-height: 28px;
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
  background-color: rgba(161, 139, 100, 0.2);
}
form {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
div {
  padding-top: 10px;
}
.paper {
    position: relative;
    max-width: 800px;
    min-width: 400px;
    height: 300px;
    margin: 0 auto;
    background: rgb(219, 203, 179);
    opacity: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.7);
    overflow: hidden;
}
.paper:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 60px;
    background-size: 30px 30px;
    box-sizing: border-box;
}

.paper-content {
    position: absolute;
    top: 30px; right: 30px; bottom: 30px; left: 40px;
    background: linear-gradient(transparent, transparent 28px, #bda989 28px);
    background-size: 30px 30px;
}
.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
}
#imgs{
  width: 300px;
  font-size: 18px;
}
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #766242;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#dbcbb3 0 -3px 0 inset;
  box-sizing: border-box;
  color: #dbcbb3;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Noticia Text', serif;
  height: 50px;
  width: 150px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 25px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #ffffff 0 3px 7px inset;
  transform: translateY(2px);
}
